<div class="container">
    <div class="row">
        {{#each products}}
            <div class="col-4">
                <div class="card m-2" style="width: 18rem;">
                    <img src="{{this.thumbnails}}" class="card-img-top" alt="{{this.title}}">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">descripcion: {{this.description}}</p>
                        <p class="card-text">stock: {{this.stock}}</p>
                        <p class="card-text">precio: ${{this.price}}</p>
                        {{#if this.status}}
                            <a href="#" class="btn btn-primary">ver</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
